@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap');

body {
    background-image: url(https://i.im.ge/2022/09/28/1A59mY.fondo-pagina.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    
}

body #header {
    color: rgb(219, 106, 0);
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    text-align: center;
    padding: 10px;
    background: linear-gradient(0, rgba(143, 1, 1, 0.637), rgb(196, 127, 0));
    margin: 0;
}

body #subtitulo {
    font-family: 'Dancing Script', cursive;
    color: orange;
    font-size: 45px;
    text-align: center;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    gap: 15px;
}

.container .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    border: 3px solid transparent;
    background-image: linear-gradient(0deg, transparent, darkred);
}

.container.card img {
    width: 330px;
    height: 200px;
}

.container .card h4 {
    color: rgb(219, 106, 0);
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    font-weight: 600;
}

.container .card p {
    color: rgb(219, 106, 0);
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    font-weight: 500;
}

#footer {
   color: rgb(219, 106, 0);
   height: 200px; 
   background-color: black;
   padding: 15px;
}

.container .card:hover {
    transform: scale(1.2);
    background-color: grey;
}

@media (max-width: 400px) {
    body {
        background-image: url(https://i.im.ge/2022/09/29/1Exl5q.fondo-pagina-movil.jpg);
        background-size: cover;
        background-attachment: fixed;
        margin: 0px;
    }
}